@import '~bootstrap/scss/bootstrap';

/* 
$jan-color: #4287f5;
$feb-color: #7dd3f5;
$mar-color: #99db7f;
$apr-color: #55b82e;
$may-color: #f09cb2;
$jun-color: #bd516d;
$jul-color: #db1649;
$aug-color: #CB5D15;
$sep-color: #c47008;
$oct-color: #ebc20e;
$nov-color: #bf1300;
$dec-color: #1b53cc; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------*/
/* --- NAVIGATION SECTION --- */
/*--------------------------------------------------------*/
.navigation {
  background-color: rgb(196, 112, 8);
  position: absolute;
  top: 0; 
  width: 100vw;
  word-spacing: 5px;
  text-align: right;
}

.navigation li {
  display: inline-block;
  margin: 10px 30px 0 0;
  list-style: none;
  text-transform: lowercase;
}

.navigation li a:link,
.navigation li a:visited {
  padding-bottom: 5px;
  font-size: 125%;
  color: #ffffff;
  text-decoration: none;
  border-top: 3px solid  rgb(196, 112, 8);
  border-bottom: 3px solid  rgb(196, 112, 8);
  
}

.navigation li a:hover,
.navigation li a:active {
  border-top: 3px solid #ffffff;
  transition: border-top 1s;
}


/*--------------------------------------------------------*/
/* --- Forms --- */
/*--------------------------------------------------------*/

.bootstrap-iso form { 
  color: #000000;
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  // color: white !important;
}

.bootstrap-iso .btn-custom {
  background: rgba(196, 112, 8, .25)
} 

.bootstrap-iso .btn-custom:hover {
  background: rgb(196, 112, 8)
}

.bootstrap-iso .form-control:focus { 
  border-color: #c47008;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 112, 8, 0.6); 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 112, 8, 0.6);
} 

.asteriskField {
  color: red;
}

.bootstrap-iso form .input-group-addon {
  color:#c47008; 
  background-color: #ffffff; 
  border-radius: 4px; 
  padding-left:12px
}



// #login-form {
//   display: none;
// }

#navigation {
  display: none;
}

#change-password-form {
  display: none;
}

#register-form {
  display: none;
}

#create-event-form {
  display: none;
}

#edit-event-form {
  display: none;
}

#show-events-section {
  display: none;
}



.body {
  margin: 0px;
  max-width: 100%;
}

.table th, .table td {
  border: 0px;
}

.outer-container {
  margin: 100px auto;
  padding: 25px;
  max-width: 100%;
}

.calendar-container {
  max-width: 100%;
}

.forms-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.month-header {
  border: 0px;
  margin: 10px;
  text-align: center;
  height: 50px;
  font-size: 36px;
  line-height: 50px

  & a:link,
  & a:visited {
      padding-bottom: 1px;
      font-size: 30px;
      line-height: 30px;
      color: #000000;
      text-decoration: none;
  }

  & a:hover,
  & a:active {
    text-decoration: none;
    color: #c47008;
  }

}

.weekday-header {
  text-align: center;
  background: #c47008; 
  text-transform: uppercase;
}

.weekday-footer {
  border: 0px;
  text-align: right;
}

.weekday-empty {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  margin: 2px;  
  text-align: center;
  font-size: 36px;
  line-height: 50px;
}

.weekday {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  margin: 2px;  
  text-align: center;
  font-size: 36px;
  line-height: 50px;

  &.today {
    color: #c47008;
  }

  &:hover {
    background-color: rgba(196, 112, 8, .25)
  }
}

.events{
  
  &.header {
  margin: 10px 10px 30px 10px;
  }

  &.edit-delete {
    margin-bottom: 40px;
  }
}

#loadOverlay {
  display: none;
}